# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# macOS / Windows
.DS_Store
Thumbs.db

# Android
android/app/debug.keystore

# Builds
*.tar.gz
*.apk
*.aab

# VSCode
.vscode/

# Logs
*.log



expo-env.d.ts
.env
@end expo-cli